.main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px 20px;

    @media screen and (max-width: 768px){
        flex-direction: column;
        padding: 0px 20px 20px;
        
    }
}